/* Umum */

h1 {
    margin: 50px auto;
    margin-top: 80px;
    margin-bottom: 20px;
}

h2 {
    color: #fafafa;
}

h4 {
    margin : 50px auto;
    margin-top: 0px;
    margin-bottom: 20px;
}

/*Tombol search*/

form {
	text-align: center;
    width : 800px;
    margin:50px auto;
	margin-top: 20px;
}

.search {
    padding:8px 15px;
    background:rgba(255, 254, 254, 0.301);
    border-radius: 12px 0px 0px 12px;
    width: 50vw;
}

.button {
    position:relative;
    padding:8px 15px;
    left:-8px;
    border-radius: 0px 12px 12px 0px;
    background-color:#53bd84;
    color:#fafafa;
}

.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}

/*Footer*/

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background:#111;

}

.main-content{
    display: flex;
}

.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content{
    margin: 20px 0 0 0;
}

.left .content p{
    text-align: justify;
}

.left .content .social{
    margin: 20px 0 0 0;
}

.left .content .social a{
    padding: 0 2px;
}

.left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}